.caja {
    padding: 30px;
    margin: 5px;
}

.izquierda {
    float: left;
    background: #32CD32;
}

.derecha { 
    position: absolute;
    float: right;
    background: #4682B4;
    border-radius: 50px;

 }
 img{
width: 1000px; 
}